VITE_SUPABASE_URL=https://sseswvllktbfustvgpyg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzZXN3dmxsa3RiZnVzdHZncHlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4MDAwMzIsImV4cCI6MjA5OTM3NjAzMn0.AuK6NjPtwM7af6ET_JpC9JuU4n7IfFn0zJHYA7KBDA4
